/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    body {
        @apply antialiased bg-slate-900;
    }
    /* Nav Bar */
    .nv-container {
        @apply 
        w-full
        h-14
        px-[12px]
        backdrop-blur-3xl  
        bg-gray-900
        border-b-2
        border-slate-600/50
        text-slate-400
        font-bold
        flex
        flex-row
        items-center
        justify-between
    }

    .nv-logo {
        @apply
        h-full
        px-3
        flex
        items-center
        text-white
        bg-slate-300/20
    }

    .nv-menu {
        @apply
        flex
        gap-10
        px-8
        border-r-2
        border-l-2
        border-slate-500
        self-center
    }
    
    .nv-menu > li {
        @apply
        rounded-full
        border-slate-900/40
        
        hover:scale-105 
        hover:underline
        hover:text-slate-300
    }

    .nv-contact {
        @apply
        w-[5rem]
        items-center
        flex
        justify-evenly
        text-white bg-white focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm py-1
    }

    .nv-contact > a {
        @apply
        hover:scale-110
        active:scale-95
    }
    
    /* Header */
    .hd-container {
        @apply 
        flex
        flex-col
        items-center
        w-full
        pt-10
        pb-10
        bg-white/10
    }

    .hd-container > h1 {
        @apply text-sky-500 text-3xl font-extrabold leading-6 pb-2;
    }

    
}